:root {
    --primary: #f79102;
    --primary-hover: #ea7c02;
    --tomato: #da2222;
    --mango: #fcc911;
    --blue: #014fce;
    --cucumber: #7ac143;
    --cucumber-hover: #62c143;
    --white: #fff;
    --black: #393e46;
    --shadow: #c0c8cf;
    --grey: #e2e5eb;
    --info: #9ea1a7;
    --lightgrey: #edeef0;
    --softgrey: #f8f8f8;
    --border-radius: 4px;
    --all-sides-shadow: 0 0 5px var(--shadow);
    --section-padding: 30px 20px;
    --hover-transition: .3s;
}
